div {
    width: 300px;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #E91E63;
    transform: rotate(5deg);
}

div::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #03A9F4;
    z-index: -1;
    transform: rotate(-15deg);
}

div::after {
    content: "Elzero";
    position: absolute;
    width: 300px;
    height: 200px;
    transform: rotate(-5deg);
    z-index: 1;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: #03A9F4;
}