div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #B3B3B3;
    color: black;
}

.one {
    opacity: .5;
}

.two {
    opacity: .1;
}