div {
  width: 400px;
  height: 400px;
  background-size: 200px 200px;
  color: white;
  background-color: #EEEEEE;
}

.assign-3-shape-1 {
  background-image: url("../Media/css-assignment-5-8.png");
  background-repeat: no-repeat;
}

.assign-3-shape-2 {
  background-image: url("../Media/css-assignment-5-8.png");
  background-repeat: repeat-y;
  background-position: right;
}

.assign-3-shape-3 {
  background-image: url("../Media/css-assignment-5-8.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

.assign-3-shape-4 {
  background-image: url("../Media/css-assignment-5-8.png");
  background-repeat: repeat;
}