body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 7px 0px #FF5722, -7px 0px blue;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'segoe ui light';
    color: #FF5722;
}