p {
    font-size: 2rem;
}

.one {
    font-family: 'Open Sans',
        sans-serif;
    font-style: italic;
}

.two {
    font-family: 'Cairo',
        sans-serif;
}

.three {
    font-family: 'Jomhuria', cursive;
}